<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/page/allTasks">All Tasks</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/page/finishedTasks">Finished Tasks</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Settings</a>
        </li>
      </ul>
        <div>
            <a href="/api/auth/login">Logout</a>
        </div>
    </div>
  </nav>
  <script>
    const url =window.location.href;
    const id= url.charAt(url.length-1);
    let anchor =document.getElementsByClassName("nav-link");
    for(let i=0;i<anchor.length;i++) {
      let href=anchor[i].href;
      anchor[i].href = anchor[i].href+'/'+id;
    }
  </script>